<% include ./partials/header%>
	<head>
		<link rel="stylesheet" href="/AboutPage.css">
	</head>

			<div class="container surround well" id="body">
				<div class="row">
					<div class="col-lg-12 contain">
						<div>
							<h1>About Us</h1>
							<br>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reiciendis, iure fuga error. Sapiente quam veritatis iure vitae maiores magnam, obcaecati non cupiditate perspiciatis eum laudantium rem totam quis dolorum.</p>
						</div>
					</div>
				</div>

<% include ./partials/footer%>
