


		<head>
<!--             <link rel="stylesheet" href="/main.css">
 -->            <link rel="stylesheet" href="/LandingPage.css">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
          	<div id="content">
					<h1>Tutor Exchange</h1>
					<h3>Where students can exchange knowlegde and embrave their abilities</h3>
					<hr class="style">
					<a href="/IndexPage" class="btn btn-default btn-lg"><i class="fa fa-code" aria-hidden="true"></i> Get Started!</a>
			</div>	
    </div>
    </ul>
    
 <div id="landingtable" class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col" >
                <a href="/video_nhac">
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>Math</h3>
                            <p>Get someone to help you find x!</p>
                        </div>
                    </div>
                </a>

            </div>

            
            <div class="col-sm-6 col-md-4 col" >
                <a href="/unperformed_song">                
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>Physics</h3>
                            <p>Get the physics help you need!</p>
                        </div>
                    </div>
                </a>
            </div>
        
            <div class="col-sm-6 col-md-4 col">
                <a href="/dieu_khac">
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>English</h3>
                            <p>Summon proofreaders!</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-sm-6 col-md-4 col">
                <a href="/hoi_hoa">                
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>Computer Science</h3>
                        <p>Find a debugging partner</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col">
                <a href="/about">
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>About Us</h3>
                            <p>We are a group of passionate Software Developers with different backgrounds of software development experience ranging from scripting to web development.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-sm-6 col-md-4 col">
                <a href="/phe_binh_nghe_thuat">
                    <div class="wrapper">
                        <div class="icon">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </div><div class="content">
                            <h3>FAQs</h3>
                            <p>Need help? Go over to our help center!</p>
                        </div>
                    </div>
                    </a>
            </div>
            
        </div>
    </div>

    
    
    
<% include ./partials/footer %>
