
body{
    position: relative;
    width: 100%;
    background: White;
    font-family: "Lato";
}

.navbar{
    position:  fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
	background: rgba(145, 88, 13, 0);
	border-radius: 0px;
	border: none;

}
#content {
  z-index: 1;
  position: relative;
  text-align: center;
  margin:0;
  top: 40%;

}
 h3, h1 {
  color: #fff;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    margin-top: 0;
}
h1{
	    font-size: 2.8em;
}
h3{
      font-weight: 300;
	    font-size: 1.7em;
}
hr{
	width: 550px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.slideshow { 
  background: black;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/1/type-away-numero-dos.jpg?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://assets.about.me/background/users/i/s/r/israelcapetillo_1416511325_28.jpg);
  animation-delay: 8s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://studentsmatter.org/wp-content/uploads/2016/07/High-School-Student-with-Teacher.jpg);
  animation-delay: 16s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://routeslanguageblog.files.wordpress.com/2012/05/uoh_7555-21.jpg); 
  animation-delay: 24s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://www.newswire.com/files/b6/56/56dda96d8d1d5efe085d14cf8def.jpg);
  animation-delay: 32s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
hr{
    width:40%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/*-------------------------------------------------------------------------*/

#landingtable{
  position: relative;
  margin-top: 15vh;
  margin-bottom: 20vh;

}
#landingtable .row .col{
  padding-top: 10px;
  margin-top: 20px;
  height: 170px;
  padding-top: 10px;
  transition: 0.29s;
  
}
#landingtable .row .col a{
  color: rgba(255, 255, 255, 0.8);
}



#landingtable .row .col a p{
  color: rgba(255, 255, 255, 0.8);
}

#landingtable .row .col .wrapper{
  border-radius: 5px;
  position: relative;
  height: 100%;
  background: rgba(0, 155, 86, 1); 
  transition: 0.5s;
}
#landingtable div .icon{
  display: inline-block; 
  height: 100%; 
  width: 28%;  
  margin: 0;
  position: absolute; left: 0; top: 0;
}
#landingtable div .content{
  display: inline-block; 
  height: 100%;
  width: 70%; 
  margin: 0;
  position: absolute; left: 30%; top: 0;
  padding: 2%;
}
.icon i{
  font-size: 3em;
  display: block; 
  margin: 30% auto; 
  text-align:center;

}


.navbar.changeNav1{
  	background: rgba(0, 155, 86, 0.5);
}
.navbar.changeNav2{
  	background: rgba(0, 155, 86, 0.85);
}
.navbar.changeNav3{
  	background: rgba(0, 155, 86, 1);
}
.slideshow.changeUl1{
  opacity: 0.5;
  
}
.slideshow.changeUl2{
  opacity: 0.3;
}
.slideshow.changeUl3{
  opacity: 0.1;
}
